<!-- Modal Header -->
<div class="modal-header bg-light p-3">
  <h4 class="modal-title">
    <i class="ri-hospital-line align-bottom me-1"></i> {{ title }}
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()">
  </button>
</div>
<!-- Form -->
<form novalidate>
  <!-- Modal Body -->
  <div class="modal-body">
    <div class="row g-3">
      <!-- Order ID -->
      <div class="col-lg-6">
        <div>
          <label class="form-label highlight-label"><b>Order ID: </b></label>
          <span class="value-text">{{ order.orderId }}</span>
        </div>
      </div>

      <!-- Status -->
      <div class="col-lg-3">
        <div>
          <label class="form-label highlight-label"><b>Status: </b></label>
          <span class="value-text">{{ order.status }}</span>
        </div>
      </div>

      <!-- API Pago -->
      <div class="col-lg-3">
        <div>
          <label class="form-label highlight-label"><b>API PAGO: </b></label>
          <span class="value-text">{{ order.controlData.apipago }}</span>
        </div>
      </div>

      <!-- Product List -->
      <div class="col-lg-6">
        <div>
          <label class="form-label"><b>Product List</b></label>
          <table class="table table-striped table-bordered">
            <thead class="table-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Unit Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of order.products">
                <td>{{ product.name }}</td>
                <td>{{ product.unitPrice | currency: 'USD':'symbol':'1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Fees -->
      <div class="col-lg-6">
        <div>
          <label class="form-label"><b>Fees</b></label>
          <table class="table table-striped table-bordered">
            <thead class="table-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fee of order?.fees">
                <td>{{ fee.name }}</td>
                <td>{{ fee.amount | currency: 'USD':'symbol':'1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Total Amount -->
      <div class="col-lg-5">
        <div>
          <label class="form-label highlight-label"><b>Amount:</b></label>
          <span class="value-text">{{ order.amount | currency: 'USD':'symbol':'1.2-2' }}</span>
        </div>
      </div>

      <!-- Payment Mode -->
      <div class="col-lg-5">
        <div>
          <label class="form-label highlight-label"><b>Payment Method: </b></label>
          <span class="value-text">{{ order.method }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">
      Close
    </button>
  </div>
</form>